[submodule ".github/selene/selene-cc-tweaked"]
	path = .github/selene/selene-cc-tweaked
	url = https://github.com/unicornpkg/selene-cc-tweaked
[submodule "vendor/libcompat"]
	path = vendor/libcompat
	url = https://github.com/unicornpkg/libcompat
[submodule "vendor/semver"]
	path = vendor/semver
	url = https://github.com/kikito/semver.lua
